.Header {
    padding: var(--escp-container-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header > * {
    display: flex;
    align-items: center;
    gap: var(--escp-container-gap);
}

.Prefix {

}

.PrefixIcon {
    font-size: var(--escp-font-size-xl);
    color: var(--escp-color-primary);
}

.Suffix {
    flex: 1;
    justify-content: end;
}

.SuffixContainer {
    display: flex;
    align-items: center;
    gap: var(--escp-container-gap);
}

.MenuSheet::part(content) {
    padding: 0;
}

vaadin-tab {
    gap: var(--escp-container-gap);
    padding: 0.5rem 1rem;
}

.MenuIcon {
    /*color: var(--escp-color-black);*/
    margin-right: 6px;
}

.MenuBar {
    min-width: 120px;
}