.BadgeRow {
    display: flex;
    justify-content: end;
    gap: var(--escp-container-gap-sm)
}
.FooterRow {
    /*margin-top: var(--escp-container-gap-lg);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IconRow {
    display: flex;
}

.IconRow > * {
    font-size: var(--escp-font-size-lg);
    color: unset;
    height: var(--escp-font-size-lg);
}

vaadin-card {
    width: 100%;
    height: 100%;
    --vaadin-card-media-aspect-ratio: 1/1;
    transition: box-shadow 0.1s ease-in-out;
    overflow: hidden;
    color: var(--escp-color-secondary);
}

vaadin-card > img {
    user-select: none;
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
}

vaadin-card:hover {
    box-shadow: 2px 2px 4px var(--escp-color-secondary-500);
}

vaadin-card:hover > img {
    transform: scale(1.05);
}

vaadin-card > *[slot="title"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

*[slot="title"] > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}