@import "open-props/colors.min.css";
@import "open-props/fonts.min.css";
@import "open-props/sizes.min.css";

#root {
    /* Base colors */
    --escp-color-white: var(--gray-2);
    --escp-color-black: var(--gray-10);

    /* Font sizes */
    --escp-font-size-xl: var(--font-size-8);
    --escp-font-size-lg: var(--font-size-5);
    --escp-font-size-md: var(--font-size-4);

    /* Padding */
    --escp-container-gap-lg: var(--size-4);
    --escp-container-gap: var(--size-2);
    --escp-container-padding: 16px 32px;

    /* Input fields */
    --escp-input-xl: var(--size-15);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: var(--escp-font-size-lg);
}

h2 {
    font-size: var(--escp-font-size-md);
}