html {
    height: 100%;
    --escp-font-family: Outfit, -apple-system, 'Segoe UI';
}

body {
    margin: 0;
    font-family: var(--escp-font-family), sans-serif;
    --lumo-font-family: var(--escp-font-family), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body > #root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
