.Container {
    min-height: 120px;
    height: 10vw;
    padding: var(--escp-container-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/abstract_background_light.svg"); /*var(--escp-color-secondary-400)*/
    background-size: cover;
    color: var(--escp-color-white)
}

.Content {
    display: flex;
    flex-direction: column;
    gap: var(--escp-container-gap-lg);
    width: var(--escp-input-xl);
}

.Content > * {
    width: 100%;
}

.Content > h2 {
    margin-top: 0;
}

.Content vaadin-text-field {
    --lumo-contrast-10pct: rgba(255, 255, 255, 0.2);
    --lumo-text-color: var(--escp-color-secondary-200);
    --lumo-body-text-color: var(--escp-color-secondary-200);
    --lumo-secondary-text-color: var(--escp-color-secondary-400);
}