
.Container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--escp-container-padding);
    gap: var(--escp-container-gap);
}

vaadin-card {
    user-select: text;
}