.App {
  background-color: var(--escp-background);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
}

.AppLight {
  --escp-background: #E0E0E0;
  color: var(--escp-color-black);
}

.AppDark {
  --escp-background: black;
  color: var(--escp-color-black)
}